nav {
  margin-bottom: 5rem;
  margin-block-end: 5rem;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

nav > ul a {
  text-decoration: none;
}

nav > ul a:hover {
  text-decoration: underline;
}

nav > ul a:active {
  color: black;
}

nav > ul a:visited {
  color: purple;
}

nav > ul li {
  font-weight: 600;
  text-transform: lowercase;
  list-style: none;
}

@media (min-width: 700px) {
  //   .nav--container {
  //     display: grid;
  //     grid-template-columns: 2fr max-content;
  //     line-height: 1.563;
  //   }

  //   nav {
  //     grid-column: 2 / -1;
  //     padding: 1rem;
  //     margin-bottom: 2rem;
  //     margin-block-end: 2rem;
  //   }

  //   nav > ul {
  //     writing-mode: vertical-lr;
  //     display: grid;
  //     grid-template-columns: subgrid;
  //   }

  nav > ul li {
    font-size: 1.563rem;
  }
}
